services:
  traefik:
    image: "traefik:v2.11"
    container_name: "traefik"
    command:
      - "--log.level=DEBUG"
      - "--api.debug=true"
      - "--providers.docker=true"
      - "--providers.docker.network=traefik_server_apps"
      - "--entrypoints.web.address=:80"
      - "--api.insecure=true"
      - '--providers.docker.exposedbydefault=false'
      - "--entrypoints.dns_udp.address=:53/udp"
      - "--entrypoints.dns_tcp.address=:53/tcp"
    ports:
      - "80:80"
      - "8080:8080"
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    depends_on:
      - pihole
    networks:
      - traefik_server_apps
    labels:
      - 'traefik.docker.network=traefik_server_apps'
      - 'traefik.http.routers.traefik.rule=PathPrefix(`/traefik`)'
      - 'traefik.http.routers.traefik.service=api@internal'
      - 'traefik.http.middlewares.traefik.entrypoints=web'

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: pihole
    env_file:
      - './pihole/.env'
    volumes:
      - './pihole/etc-pihole:/etc/pihole'
      - './pihole/etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      - NET_ADMIN
    networks:
      - traefik_server_apps
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik_server_apps'
      
      # Configs para o tr치fego HTTP na porta 80 (P치gina admin do pihole)
      - 'traefik.http.routers.pihole.rule=PathPrefix(`/pihole`)'
      - 'traefik.http.routers.pihole.entrypoints=web'
      - 'traefik.http.services.pihole.loadBalancer.server.port=80'
      - 'traefik.http.middlewares.pihole.stripprefix.prefixes=/pihole'
      - 'traefik.http.routers.pihole.middlewares=pihole'

      # Configs para o tr치fego UDP na porta 53 (DNS)
      - 'traefik.udp.routers.pihole_udp.entrypoints=dns_udp'
      - 'traefik.udp.services.pihole_udp.loadBalancer.server.port=53'

      # Configs para o tr치fego TCP na porta 53 (DNS)
      - 'traefik.tcp.routers.pihole_tcp.rule=HostSNI(`*`)'
      - 'traefik.tcp.routers.pihole_tcp.entrypoints=dns_tcp'
      - 'traefik.tcp.services.pihole_tcp.loadBalancer.server.port=53'
    restart: unless-stopped

  whoami:
    image: traefik/whoami
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_server_apps"
      - "traefik.http.routers.whoami.rule=PathPrefix(`/whoami`)"
      - "traefik.http.services.whoami.loadBalancer.server.port=80"
    networks:
      - traefik_server_apps

networks:
  traefik_server_apps:
    external: true
